.dishes {
  height: 100%;
}

.dish-card-wrap {
  box-sizing: border-box;
  padding: 0 30px;
}

.slick-dots {
  bottom: -40px;
}

.slick-dots li.slick-active button:before {
  opacity: .9;
  color: white;
}

.slick-dots li button:before {
  opacity: .4;
  color: white;
}
