.dish-card {
  display: block;
  min-height: 75vh;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.20);
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.dish-card-poster {
  width: 100%;
  height: 210px;
  background: teal;
}

.dish-card-detail {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.dish-name {
  text-align: center;
  font-size: 26px;
  color: #F77062;
  line-height: 32px;
  margin-top: 45px;
}

.dish-desc {
  font-size: 14px;
  color: #878787;
  text-align: center;
  line-height: 24px;
  position: relative;
}

.dish-card-icon-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.dish-card-icon-inner {
  width: 44px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.dish-card-icon-inner>* {
  display: block;
}

.dish-comment-no {
  line-height: 20px;
  color: #D0D0D0;
}

.dish-price-tag {
  color: #878787;
  text-align: center;
  margin-top: 20px;
}

.dish-desc-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #FFFFFF 100%);
}
