.cart-button {
  box-sizing: border-box;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
  width: 50px;
  height: 50px;
  padding: 15px;
  position: fixed;
  bottom: 20px;
  right: 10px
}
.cart-button img {
  display: block;
  width: 20px;
  height: 20px
}
.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #212121;
  text-align: center;
  line-height: 17px;
  color: white;
}
