.dog-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.dog-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  background-size: 120%;
  background-repeat: no-repeat;
  border: 4px solid pink;
  box-sizing: border-box;
}
