.dog-icon {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.dog-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  background-size: 120%;
  background-repeat: no-repeat;
  border: 4px solid pink;
  box-sizing: border-box;
}

.delete-icon {
  display: none;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

.dog-icon:hover .delete-icon {
  display: block;
}
