.add-btn {
  box-sizing: border-box;
  width: 60px;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid #00bcd4;
  display: block;
  padding: 10px;
}

.add-form-wrap {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.add-form {
  background-color: #fff;
  width: 200px;
  height: 100px;
  position: fixed;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-row {
  display: flex;
  justify-content: space-around;
}


.form-row input {
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 5px;
  border: 0;
  border-bottom: 1px solid deeppink;
}

.form-row input:focus {
  border: 0;
  outline: 0;
  border-bottom: 1px solid deeppink;
}

.form-row button {
  width: 40%;
  border: 0;
  box-sizing: border-box;
  border: 2px solid deeppink;
  color: deeppink;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.form-row button.primary {
  background-color: deeppink;
  color: white;
}
