.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.form-hero {
  margin-top: 20px;
  color: white;
  text-align: center;
}

@media (min-width: 400px) {
  .form-hero {
    margin-top: 40px;
  }
}

.form-title {
  font-size: 36px;
  line-height: 42px;
}

.form-slogan {
  margin-top: 8px;
  font-size: 16px;
}

.form form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.form-inputs {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-inputs-inner {
  display: flex;
  flex-direction: column;
}

.form input {
  text-indent: 20px;
  border: 0;
  line-height: 16px;
  padding: 17px 4px;
}

.form input:focus {
  outline: 0;
}

.form input::placeholder {
  font-size: 12px;
  color: #878787;
}

.form-button {
  margin-bottom: 7px;
}

.form-button button {
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
  border-radius: 2px;
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 14px;
  line-height: 56px;
  color: #F77062;
}

.form-option {
  text-align: center;
  margin-bottom: 37px;
}
.form-option a{
  text-decoration: none;
  font-size: 12px;
  color: rgba(255,255,255,0.96);
}
