.cart-item {
  border-bottom: 1px solid  #E3E9EC;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.cart-item-poster {
  width: 50px;
  height: 50px;
  background-size: 70px;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.cart-item-poster:after {
  background-image: linear-gradient(-45deg, #F77062 0%, #FE5196 100%);
  opacity: 0.6;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cart-item-info {
  display: flex;
}


.cart-item-info .name-price-wrap {
  margin-left: 10px;
  padding-top: 5px;
}

.cart-item-name {
  font-size: 16px;
  color: #F77062;
}

.cart-item-price {
  font-size: 12px;
  color: #878787;
}

.cart-action {
  display: flex;
  line-height: 30px;
  padding-top: 10px;
}

.cart-action .item-count {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  color: white;
  line-height: 30px;
  background-color: #fff;
  margin: 0px 15px;
  background-image: linear-gradient(-45deg, #F77062 0%, #FE5196 100%);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.20);
}

.cart-action .minus, .cart-action .plus {
  /* Shape: */
  color: #D0D0D0;
  font-size: 19px;
}
