.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.legend {
  display: flex;
  margin: 10px;
}

.legend-name {
  line-height: 40px;
  width: 120px;
  text-align: center;
  color: white;
  border-radius: 7px 0 0 7px;
}

.legend-value {
  color: #212121;
  height: 40px;
  border: 3px solid red;
  flex-grow: 1;
  border-radius: 0 7px 7px 0;
  line-height: 36px;
  text-indent: 15px;
}


/* https://envato.com/blog/admin-dashboard-design-trends/ */
